.l1-txt1 {
    font-family: "mr_Miroslav",sans-serif !important;
}


.m2-txt1 {
    font-family: "mr_Miroslav",sans-serif !important;
}

.m2-txt2 {
    font-family: "mr_Miroslav",sans-serif !important;
}
.l2-txt1{
    font-family: "mr_Miroslav",sans-serif !important;
}

.s2-txt1{
    color: #cda45e;
}

.cover {
    display: block;
    position: fixed;
    z-index: 0;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
}

.overlay1::before {
    background-color: rgba(0,0,0,0.3) !important;
}

.bg-img1 {
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/

}
